<header>

  <div>
    <a id="logo" href='{{ "/" | relative_url}}'>
      <img src='{{ "/assets/img/icone.png" | relative_url }}' alt="icon">
      <div><span id="logo1">LUANNE SALES</span><br> <span id="logo2">ADVOGADA</span></div>
    </a>
  </div>

  <nav id="navigation-bar">

    <div id="horizontal-list">
      <ul id="navigation-list" class="horizontal-navigation-list">
        {% for item in site.data.navigation %}
          <li>
            <a href="{{ item.link | relative_url }}" 
            class="{% if page.url == item.dir %}current{% else %}unselected{% endif %}">
              {{ item.name }}
            </a>
          </li>
        {% endfor %}
          <li id="nav-social">
              <div>
                <a class="blog-item-link" href="https://www.linkedin.com/company/luanne-sales-advocacia/about/">
                  <i class="fab fa-linkedin"></i>
                </a>
              </div>
              <div>
                <a class="blog-item-link" href="https://www.instagram.com/luannesalesadvocacia/">
                  <i class="fab fa-instagram"></i> 
                </a>
              </div>
              <div>
                <a class="blog-item-link" href="https://www.facebook.com/luannesalesadvocacia">
                  <i class="fab fa-facebook-square"></i>
                </a>
              </div>
          </li>
      </ul>
    </div>

    <button id="menu-button" onclick="sideMenu()">
      <div></div>
      <div></div>
      <div></div>
    </button>

  </nav>

</header>

<div id="side-bar"></div>
