---
---
html, body{
    height: 100%;
    margin: 0;
}

body {
    font-family:  Helvetica neue, Helvetica, Arial, sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
    background-color: #FFFFFF;
}

h2 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a{
  text-decoration: none;
}

:root {
    --header-height: 100px;
}

/* Header
__________________________________________*/

body>header {
  background-color: #FFFFFF;
  box-shadow: 0 0 3px  #000000;
  height: var(--header-height);
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-around;
  position: fixed;
  z-index: 99999;
  top: 0;
}

#logo{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
}

#logo div{
  font-family: Gruppo, 'Nixie One', cursive;
  margin-left: 10px;
  text-align: center;
}

#logo1{
  font-size: 20px;
  color: #ba9a39;
  font-weight: 800;
}

#logo2{
  font-size: 16px;
  color: #746226;
  font-weight: 500;
}

body>header div a img {
  width: 80px;
  height: 80px;
}

#navigation-list{
  display: none;
  list-style-type: none;
}

.vertical-navigation-list{
  display: block !important; /*needs to override #navigation-list 'none */
}

.horizontal-navigation-list {
  display: flex !important;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}

#menu-button {
  display: none;
  background-color: #FFFFFF;
  border: #444444 1px solid;
  border: none;
  border-radius: 5px;
  box-shadow: 0 0 1px  #000000;
}

#menu-button div {
  width: 35px;
  height: 5px;
  background-color: #444444;
  margin: 6px 0;
  border-radius: 3px;
}

#navigation-list li {
  margin: 20px;
}

#navigation-list a{
  font-size: 25px;
}

#navigation-list a:hover, .current {
  color: #D0AE5E;
}

.unselected{
  color: #444444;
}

/* Main
_______________________________________________*/

#space{
  height: var(--header-height);
}

#side-bar{
  display: none;
  height: 300px;
  width: 300px;
  background-color: #f4f7f8;
  z-index: 9999;
  position: fixed;
  top: var(--header-height)
}

.parallax-img{
  position: relative;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

#first-img {
  background-image: url('{{ "/assets/img/advogada-2400x1600.jpg" | relative_url }}');
  background-position: top;
  height: 85vh;
}

#presentationLayer{
  background-color: hsla(0, 0%, 0%, .35);
  height: 100%;
}

#presentation{
  text-shadow: 0 0 50px hlsa(0, 0%, 0%, .4);
  font-size: 24px;
  color: #FFFFFF;
}

#presentation h2{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#whats-btn{
  border: #57bd64 1px solid;
  border-radius: 30px;
  background-color: #46bf56;
  padding: 15px;
  color: white;
}

article.intro-text {
  height: 300px;
  background-color: #FFFFFF;
}

.intro-text {
  width:100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 10px;
}

.intro-text div{
  width: 75%;
  text-align: center;
}

.intro-text h2 {
  font-size: 32px;
}

.intro-text p{
  font-size: 20px;
  color: rgb(54, 54, 54);
}

.cards-section{
  padding-top: 50px;
  background-color: #f4f7f8;
  width: 100%;
}

#cards-container{
  display: grid;
  gap: 20px;
  grid-template-areas: 'card-1 card-2 card-3' 'card-4 card-5 card-6';
  padding: 20px 20px;
  justify-content: center;
  align-content: center;
} 

#cards-container section {
  background-color: #D0AE5E;
}

#cards-container section div{
  height: 100%;
  width: 100%;
  background: hsla(0, 0%, 0%, .35);
  display: flex;
  align-items: center;
  justify-content: center;
}

.card{
  height: 180px;
  width: 300px;
  background-repeat: no-repeat;
  background-position: center;
  color: #f4f7f8;
  font-weight: 700;
  font-size: 20px;
}

#card-1 {
  grid-area: card-1;
  background-image: url('{{ "/assets/img/civil.png" | relative_url }}');
}
#card-2 {
  grid-area: card-2;
  background-image: url('{{ "/assets/img/trabalho.png" | relative_url }}');
}
#card-3 {
  grid-area: card-3;
  background-image: url('{{ "/assets/img/administrativo.png" | relative_url }}');
}
#card-4 {
  grid-area: card-4;
  background-image: url('{{ "/assets/img/familia.png" | relative_url }}');
}
#card-5 {
  grid-area: card-5;
  background-image: url('{{ "/assets/img/imobiliario.png" | relative_url }}');
}
#card-6 {
  grid-area: card-6;
  background-image: url('{{ "/assets/img/previdenciario.png" | relative_url }}');
}

/* Blog cards
_______________________________________________*/

#blog-cards{
  background-color: #f0f0f0;
  text-align: center;
}

#blog-cards-container{
  display: grid;
  gap: 20px;
  grid-template-columns: 300px 300px 300px;
  padding: 20px 20px;
  justify-content: center;
  align-content: center;
} 

#blog-cards-container section {
  width: 300px;
  margin-bottom: 15px;
}

#blog-cards-container section img {
  height: 180px;
  width: 300px;
  margin-bottom: 10px;
}

.blog-card-link {
  font-size: 25px;
  color: #000000;
  font-weight: 800;
}

.blog-card-link:hover{
  color: #D0AE5E;
}

.excerpt{
  color: #444444;
  margin-bottom: 25px;
}

.leia-mais-div{
  width: 100%;
}

.leia-mais{
  border: #57bd64 1px solid;
  border-radius: 20px;
  padding: 10px;
  color: #57bd64;
  font-weight: 600;
}

.leia-mais:hover{
  background-color: #46bf56;
  color: #ffffff;
}

/* Sobre e Contato
________________________________________________*/
#sobre-header{
  background-image: url('{{ "/assets/img/sobre.jpg" | relative_url }}');
}

#contato-header{
  background-image: url('{{ "/assets/img/typewritter.jpg" | relative_url }}');
}

#contato-flex{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

#contato-1, #contato-2{
  width: 400px;
  margin-bottom: 20px;
}

.contato-flex-inner{
  display: flex;
  justify-content: left;
  flex-wrap: nowrap;
  align-items: center;
}
.fa-2x{
  margin-right: 20px;
}

.side-header{
  height: 300px;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  color: #FFFFFF;
  font-size: 30px;
  text-align: center;
}

.side-header>div{
  background-color: hsla(0, 0%, 0%, .35);
  height: 100%;
}

.side-header h2{
  padding-top: 125px;
  margin-top: 0;
}

.side-main>article{
  color: #22242C;
  height: 100%;
  font-size: 18px;
}

#sobre-content{
  padding: 50px 100px;
  text-align: justify;
}

/* Contato Form 
________________________________________________*/

.input{
  margin: 10px;
  border: none;
  border-radius: 5px;
  background-color: #c7c7c7;
  width: 250px;
}

input.input{
  height: 30px;
}

button.leia-mais{
  margin-left: 10px;
  background-color: transparent;
}


/* Blog 
________________________________________________*/

.main-blog{
  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: space-around;
}

.main-blog>div{
  margin: 20px 10px;
}

.main-blog h1{
  text-align: center;
}

.blog-categories{
  width: 250px;
}

#blog-posts{
  display: grid;
  grid-template-columns: 400px 400px;
  gap: 20px;
  padding: 20px 20px;
  justify-content: center;
  align-content: center;
}

.blog-item{
  text-align: center;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  list-style-type: none;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 10px;
}

.blog-item img {
  height: 180px;
  width: 300px;
  margin-bottom: 10px;
}

.blog-item p{
  text-align: center;
  margin-top: 5px;
  margin-bottom: 10px;
  margin-left: 20px;
  margin-right:20px
}

.blog-item-link{
  color: #000000;
}

.blog-item-link:hover{
  color: #D0AE5E;
}

.blog-categories h2{
  margin-bottom: 40px;
  text-align: center;
}

.blog-category-link{
  background-color: rgb(218, 215, 210);
  padding: 8px;
  border-radius: 5px;
  margin: 10px 0px;
  font-size: 18px;
  color: #444444;
}

.blog-category-link span{
  margin: 0px 10px;
  padding: 10px 0;
}

.blog-category-link:hover{
  border-bottom: burlywood 5px solid;
  font-weight: 600;
}

.link-category{
  color: rgb(88, 168, 214);
  font-weight: 600;
}

.link-category:hover{
  color: rgb(0, 68, 255);
}


/* Posts 
________________________________________________*/

.post-content{
  width: 860px;
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  flex-direction: column;
}

.post-whats{
  width: 100%;
  margin-bottom: 20px;
  text-align: center;
}

.post-hero-img{
  width: 800px;
  height: 534px;
}

.post-text{
  margin: 20px 10px;
}

.post-text p{
  text-align: justify;
}


/* Footer 
________________________________________________*/

body>footer{
  width: 100%;
  background-color: #22242C;
  color: #f4f7f8;
  text-align: center;
  line-height: 100px;
  bottom: 0;
}