---
---
/* Media queries
----------------------------*/
/* Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {
  body header nav ul a {
    font-size: 20px;
  }

  #cards-container{
    grid-template-areas: 'card-1''card-2' 'card-3' 'card-4' 'card-5' 'card-6';
  } 

  #menu-button{
    display: block;
  }

  #first-img{
    background-image: url('{{ "/assets/img/advogada-1000x1600.jpg" | relative_url }}');
    height: 60vh;
  }

  #presentation{
    font-size: 20px;
    padding-top: 30px;
    text-align: center;
  }

  #blog-cards-container{
    grid-template-columns: 300px;
  }

  #sobre-content{
    padding: 40px 50px;
  }

  #contato-1, #contato-2{
    width: 300px;
  }

  #blog-posts{
    grid-template-columns: 300px;
  }

  #post-content{
    width: 300px;
  }

  .post-hero-img{
    width: 300px;
    height: 180px;
  }
}

/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) {
  body header nav ul a {
    font-size: 20px;
  }
  #cards-container{
    grid-template-areas: 'card-1 card-2' 'card-3 card-4 ' 'card-5 card-6';
  } 

  #menu-button{
    display: block;
  }

  #first-img{
    height: 70vh;
  }

  #presentation{
    font-size: 20px;
    padding-top: 30px;
    text-align: center;
  }

  #blog-cards-container{
    grid-template-columns: 300px;
  }

  #sobre-content{
    padding: 40px 50px;
  }

  #blog-posts{
    grid-template-columns: 300px;
  }

  #post-content{
    width: 300px;
  }

  .post-hero-img{
    width: 300px;
    height: 180px;
  }
}

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) {
  #cards-container{
    grid-template-areas: 'card-1 card-2' 'card-3 card-4 ' 'card-5 card-6';
  } 

  #menu-button{
    display: block;
  }

  #first-img{
    height: 50vh;
  }

  #presentation{
    font-size: 24px;
    padding-top: 60px;
    text-align: center;
  }

  #blog-cards-container{
    grid-template-columns: 300px 300px;
  }

  #sobre-content{
    padding: 40px 50px;
  }

  #contato-1, #contato-2{
    width: 300px;
  }
  #blog-posts{
    grid-template-columns: 300px 300px;
  }

  #post-content{
    width: 600px;
  }

  .post-hero-img{
    width: 600px;
    height: 360px;
  }
}

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) {
  #side-bar{ display: none !important; } /* hides the side bar at window on resize */
  #first-img{
    height: 60vh;
  }
  #presentation{
    padding-top: 100px;
    margin-left: 150px;
  }
}

/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
  #side-bar{ display: none !important; }
  #presentation{
    padding-top: 100px;
    margin-left: 150px;
  }
  #presentation h2{
    font-size: 56px;
    margin-bottom: 0;
  }
}
